.common-dashboard-container {
  background-color: #f8fafc;
  min-height: 100vh;
  width: 100%;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

.common-dashboard-main {
  width: 100%;
  margin: 0 auto;
}
